DB_IDENTIFIER_1=main
DB_HOST_1=127.0.0.1
DB_PORT_1=3306
DB_NAME_1=demo_db
DB_USER_1=root
DB_PASSWORD_1=

DB_IDENTIFIER_2=analytics
DB_HOST_2=127.0.0.1
DB_PORT_2=3306
DB_NAME_2=demo_db
DB_USER_2=root
DB_PASSWORD_2=