DB_IDENTIFIER_1=main
DB_HOST_1=127.0.0.1
DB_PORT_1=5432
DB_NAME_1=demo_db
DB_USER_1=postgres
DB_PASSWORD_1=

DB_IDENTIFIER_2=analytics
DB_HOST_2=127.0.0.1
DB_PORT_2=5432
DB_NAME_2=demo_db
DB_USER_2=postgres
DB_PASSWORD_2=